/* Gaya untuk Card */
.card {
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px 0;
}

.card-body {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 0 0 15px 15px;
}

/* Gaya untuk Gambar */
.card-body img {
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.card-body img:hover {
    transform: scale(1.1);
}

/* Modal Gaya */
.modal-content {
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.modal-body img,
.modal-body video {
    width: 100%;
    border-radius: 10px;
}