
h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

.input-group label {
    font-weight: bold;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS untuk memastikan footer selalu di bawah */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1; /* Membuat konten mengisi ruang yang tersedia */
}

.footer {
    background-color: #78B3CE; /* Warna latar belakang footer */
    padding: 20px; /* Padding untuk footer */
    text-align: center; /* Rata tengah teks di footer */
}